*.json
*.pth
*.bin
*.trt
*.engine
*.un~
*.csv
images/
Automotive_5_images/
Books_5_images/
*.tar.gz
*.zip
.idea/
checkpoint/
__pycache__/
wandb/
*.csv.bk
SingleModel/book_train/
SingleModel/book_val/
